<!doctype html>

<html lang="pt">
<head>
  <meta charset="utf-8">

  <title>CNAB</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="Alcidio Lucas">

  <style>
      nav{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      li{
          display: inline-block;
          padding: 10px 20px;
      }
      
      #main{
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
      } 
      .enviar{
        display: block;
        background-color: #27ae60;
        color: #fff;
        border: transparent;
        padding: 5px 10px;
        font-size: 14px;
        margin-top: 10px
      }
      .enviar:hover{
          background-color: #145b32;
          cursor: pointer;
      }
  </style>

</head>

<body>
    
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/lojas">Lojas</a>
                </li>
                <li>
                    <a href="/sair">Sair</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <section id="main">
        <% if(msg !== ''){ %>
            <p><%= msg %></p>
        <% } %>
        <form method="post" action="/home" enctype="multipart/form-data">
            <label for="tCnab">Selecione o ficheiro CNAB</label>
            <input type="file" name="cnab" id="tCnab" /><br>
            <input class="enviar" type="submit" value="Enviar" />
        </form>
    </section>
  
</body>
</html>