<!doctype html>

<html lang="pt">
<head>
  <meta charset="utf-8">

  <title>Lojas</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="Alcidio Lucas">

  <style>
    #main{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      h1{
          display: block;
      }
      
      li{
         list-style: none;
         font-size: 14;
         padding: 10px 0;
      }
  </style>

</head>

<body>
    
    <section id="main">
        <ul>
            <% if(lojas.length < 1){ %>
                <p>Certifique-se de que todos os dados do ficheiro são válidos</p>
                <a href="/">Tente de novo</a>
            <% }else{ %>
                <% for(let i = 0; i < lojas.length; i++){ %>
                    <li><a href="/loja?id=<%= lojas[i].nome %>"><%= lojas[i].nome %></a></li>
                <% } 
            }%>
        </ul>
    </section>
  
</body>
</html>