<!doctype html>

<html lang="pt">
<head>
  <meta charset="utf-8">

  <title>Lojas</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="Alcidio Lucas">

  <style>
      
      nav{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      #main{
        min-height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      h1{
          display: block;
      }
      
      li{
         list-style: none;
         font-size: 14;
         padding: 10px 0;
      }
      
      .menu{
          display: inline-block;
          padding: 10px 20px;
      }
      
      span{
          display: inline-block;
          padding-right: 20px;
          min-width: 200px !important;
      }
  </style>

</head>

<body>
    
    <header>
        <nav>
            <ul>
                <li class="menu">
                    <a href="/home">Home</a>
                </li>
                <li class="menu">
                    <a href="/lojas">Lojas</a>
                </li>
                <li class="menu">
                    <a href="/sair">Sair</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <section id="main">
        <ul>
            <% if(lojas.length < 1){ %>
                <p>Não foram encontrados quaisquer dados</p>
                <a href="/home">Carregue um ficheiro CNAB</a>
            <% }else{ %>
                <% for(let i = 0; i < lojas.length; i++){ %>
                    <li><span><%= lojas[i].nome %></span> <a href="/loja?id=<%= lojas[i].nome %>">Ver transações</a></li>
                <% } 
            }%>
        </ul>
    </section>
  
</body>
</html>